body{ background-color: gray;} 
h3{ color: white;
	font-family: "Futura";
	line-height: 86%;
	}
p { background-color: white;
	font-size: small;
	font-family: "Futura";
	font-weight: thin;
	line-height: 124%;
	 }
.second { font-size: large; }
.third { 
	background: purple;
	color: white;
}
.words {
	font-family: Corbel;
	padding: 10px;
	height: ;
	width: 400px;
	margin: auto;
	letter-spacing: normal;
	text-align: justify;
	word-spacing: normal;
	border: thin outset #000;

}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
